.rootCont {
  width: 80%;
  margin: auto;
  text-align: center;
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10vh;
}

.mainCont {
  /* display: grid;
    grid-template-columns: 30% 60%; */
  display: flex;
  justify-content: space-between;

  color: rgb(14, 36, 49);
  font-size: 20px;
  /* border: 10px solid darkorange; */
}
.mainCont > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left !important;
  /* margin-bottom: 50px; */
  /* border: 4px solid rgb(94, 18, 225);  */
}
 .profilePicCont{
  width: 55%;
  height: 460px;
   
       
 }
.profilePic {
  text-align: right;
  width: 90%;
   height: 100%;
   margin: auto;  
 
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    /* border: 4px solid rgb(22, 112, 4);    */
}

.aboutHeading {
    padding: 3%;  
  font-size: 40px;
  font-weight: 400;
   margin-top: 10px;
}

.headingAndText {
  padding: 20px;
  /* border: 2px solid rgb(242, 108, 59); */
  width: 100%;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  */
}

.headName {
  margin-top: -15px;
  /* color: blue; */
  font-size: larger;
  font-weight: bold;
}
/* hide at small screen */

@media (min-width: 190px) and (max-width: 830px) {
  .mainCont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
      gap: 24px;   
       /* border: 4px solid rgb(22, 112, 4);     */
    /* box-shadow: rgba(129, 249, 8, 0.27) 0px -23px 25px 0px inset, rgba(6, 245, 14, 0.15) 0px -36px 30px 0px inset, rgba(3, 211, 65, 0.1) 0px -79px 40px 0px inset, rgba(242, 15, 15, 0.06) 0px 2px 1px, rgba(246, 36, 36, 0.09) 0px 4px 2px, rgba(241, 20, 20, 0.09) 0px 8px 4px, rgba(245, 5, 5, 0.09) 0px 16px 8px, rgba(240, 20, 20, 0.09) 0px 32px 16px;  */
  }

  .profilePicCont{
    width: 100%;
    margin: auto;
    box-shadow : hide;
    height: 97%;
    /* border: 2px solid rgb(231, 98, 16);    */
  }

  .profilePic {
    text-align: right;
     width: 50%;
     height: 95%;
     margin: auto;
     /* margin: 0px -9px 0px 11%;   */
     /* border: 4px solid rgb(235, 139, 29);  */
     box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
       /* border: 4px solid rgb(22, 112, 4);      */
  }

  .headingAndText {
    margin: 0px -9px 0px 5%; 
    padding: 20px;
     /* border: 2px solid rgb(11, 18, 232);  */
     width: 89%; 
    /* width: auto; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  
  /* .aboutMainCont {
    display: flex;
    justify-content: space-around;
     border: 5px solid rgb(229, 71, 171); 
  } */

  /* .head {
    text-align: center;
      border: 5px solid rgb(224, 235, 16);  
    width: 200px;
    margin: auto;
  } */

  .headName {
    margin-top: -15px;
    /* color: blue; */
    font-size: larger;
    font-weight: bold;
  }
}

/* 417-820 */
@media (min-width: 830px) and (max-width: 1024px) {
  /* .mainCont {
    border: 4px solid rgb(13, 20, 20);
  } */
  .profilePicCont {
       /* border: 2px solid rgb(32, 241, 32);    */
    height: 90%;
    margin: auto;
  }

  /* .headingAndText {
    border: 2px solid rgb(14, 48, 221);
  } */
  .headName {
    margin-top: -15px;
    /* color: blue; */
    font-size: larger;
    font-weight: bold;
  }
  .text {
    margin-top: -3px;
    /* border: 2px solid rgb(201, 240, 30); */
  }
}

 

/* @media (min-width: 480px) and (max-width: 803px) {
    .mainCont{
        border: 4px solid rgb(240, 20, 229); 
  }
 
  } */
