.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 130px;
  /* width: 100px; */

  margin: 20px auto;
  padding-top: 20px;
  cursor: pointer;
  /* gap: 10px; */
  /* border: 2px solid red; */
}

 .skillHeading{
   padding: 10px;
  }  
