/* .stats {
    width: 95%;
     margin: auto;
     gap: 1rem;
     height: auto;
     margin-bottom: 2rem;
     margin-top: 4rem;
   }
   .achievement{
       display: flex;
       flex-direction: column;    
       align-items: center;
       margin-bottom: 2rem;
   }
   .circle {
       width: 4rem;
       height: 4rem;
       background: rgba(0, 0, 0, 0.856);
       border-radius: 100%;
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 1.3rem;
       font-weight:bolder;
       margin-bottom: 1rem;
   }
   .circle::before {
       border-radius: 100%;
       content: '';
       background-image: linear-gradient(to bottom, #1c35b4 0%, #1dd369 100%);
       top: -8px;
       left: -8px;
       bottom: -8px;
       right: -8px;
       position: absolute;
       z-index:-1;
       box-shadow: rgba(66, 77, 124, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   }
   .achievement span:nth-of-type(2){
       color: var(--yellow);
   } */


   .stats{
  
    border: 3px solid yellow;
    margin: auto;
    width: 100%;
}
.middleBox{
    display: flex;
  justify-content: space-between;
    border: 3px solid violet;
    width: 100%;
    
}

@media screen and (min-width: 200px) and (max-width: 490px) {
    .middleBox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        border: 3px solid white;
        width: 100%;
        margin: auto;
        
    }
    .stats{
  
        border: 3px solid yellow;
        margin: auto;
        width: 100%;
    }
    

  
}

@media (min-width: 190px) and (max-width: 830px) {
    .middleBox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        border: 3px solid white;
        width: 100%;
        
    }
    .stats{
  
        border: 5px solid red;
        width: 100%;
        margin: auto;

    }
}

@media (min-width: 830px) and (max-width: 1024px) {
    .middleBox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        border: 3px solid white;
        width: 100%;
        
    }
    .stats{
  
        border: 5px solid blue(207, 226, 177);
        width: 90%;
        margin:auto
    }
}


   @media screen and (min-width: 200px) and (max-width: 490px) {
    .git_calender .react-activity-calendar__count{
        font-size: 10px;
       }

   .git_calender .react-activity-calendar__legend-colors{
    font-size: 10px;
   /* width: 60%; */
   }
   .git_calender .react-activity-calendar__legend-colors >svg {
    width: 50%;
    height: 20%;
   }
}